section {
  margin-bottom: 5rem;
  position: relative;
  padding: 2rem 12%  1rem 12%;
  &.stack, &.responsibilities {
    padding: 2rem 5%
  }
  h1 {
    margin-top: 0;
  }
}                   
.featuredProducts, .featuredCategories {
  &__title{
    margin-bottom: 2rem;
  }
}

