.btn {
  display: block;
  width: 10rem;
  margin: auto;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-primary;
  font-size: .8rem;
  padding: .4rem .4rem;
  border: 1px solid black;
  border-radius: 10rem;
  cursor: pointer;
  transition: all .35s linear;
  &:hover {
      background-color: $color-primary;
      color: $color-secondary;
  }
  &--large {
    @include m-screen-sm {
      
    }
    @include m-screen-md{
      font-size: 1.2rem;
      padding: .8rem 1rem;
      width: 15rem;
    }
  }
}