.card {
    
    width: 350px;
    overflow: hidden;;
    text-align: center;
    background-color: lighten($color-success, 12%);
    text-align: center;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    transition: all .35s ease-in-out;
    &:hover {
        // transform: scale(1.1)
    }
    @include m-screen-md{
     width: 250px;   
    }
    .card__content {
        padding: 0 1rem;
        @include m-screen-md{
            padding: 0 .5rem;
        }
    }
    picture {
        padding: 0;
    }
    &__img {
        width: 100%;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    }
    h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    p {
        font-size: .9rem;
        line-height: 1.8;
        margin-bottom: 1.5rem;
        
    }
    &__action {
        display: block;
        width: 45%;
        margin: auto;
        margin-bottom: 3rem;
        text-transform: uppercase;
        font-size: .8rem;
        padding: .4rem .4rem;
        border: 1px solid black;
        border-radius: 10rem;
        cursor: pointer;
        transition: all .35s linear;
        &:hover {
            background-color: $color-primary;
            color: $color-secondary;
        }
    }
    &__modal {
        position: fixed;
        
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: rgba($color-success, .8);
        
        &--close {
            display: flex;
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -50%) scale(0);
        }
        &--open {
            transform: translate(-50%, -50%) scale(1);
            display: flex;
            opacity: 1;
            visibility: visible;
        }
        transition: all .90s linear;
    }
}

.modal {
    &__content{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        text-align: left;
        background-color: $color-secondary;
    }
    &__img {
        width: 30%;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            display: block;
        }   
    }
    &__info {
        width: 60%;
    }
    &__close {
        position: absolute;
        top: 0rem;
        right: 1rem;
        text-align: right;
        cursor: pointer;
    }
    &__title {
        text-align: center;
    }
}