.contact {
  padding-top: 10rem;
  padding-bottom: 8rem;
  margin-bottom: 10rem;
  background: linear-gradient(165deg, rgba($color-important,.8) 0%, rgba(darken($color-secondary, 0%), .1) 200%);
  color: $color-secondary;
  
  clip-path: polygon(0 7rem, 100% 0%, 100% 80%, 0 100%);
  .title {
    margin-bottom: 3rem;
    color: $color-info;
  }

  
  p{
    display: grid;
    gap: 3rem;
    grid-template-columns: 3rem 1fr;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    color: $color-secondary;

  }
  img, a {
    display: block;
  }
  img {
    width: 3rem;
  }
  a {
    color: $color-secondary;
    font-size: 2rem;
  }
}