.navbar{
  position: relative;
  
  &__toggle {
    display: block;
    position: relative;
    z-index:1;
    user-select: none;
    .navbar__toggle__slice {
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      right: 2rem;
      background: #cdcdcd;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
      &:first-child{
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2){
        transform-origin: 0% 100%;
      }
    }
    input {
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -36px;
      cursor: pointer;

      opacity: 0;
      z-index:2;
      

      /* 
      * Transform all the slices of hamburger
      * into a crossmark.
      */
      &:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        
        // hide the middle slice
        &:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        // the last one should go to the other direction
        &:nth-last-child(2) {
          transform: rotate(-45deg) translate(0, -1px);
        }
      }
    }
    .navbar__toggle__slice, input {
      display: block;
      @include m-screen-md {
        display: none;
      }
    }
  }

  &__toggle {
    input {
      // slide from left
      &:checked ~ ul.navbar__nav {
        right: 0;
        transform: translate(0%, -50%);
        @include m-screen-md {
          transform: translate(-250%, -50%);
        }
      }
    }
  }
  &__nav {
    height: 50vh;
    width: 7rem;
    margin: 0;

    position: fixed;
    top: 50%;
    
    transform-origin: 0% 0%;
    transform: translate(100%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 0;
    
    list-style-type: none;
    background-color: rgba($color-primary,.8);
    color: $color-secondary;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    
    @include m-screen-md {
      position: absolute;
      padding-top: 70px;
      z-index: 10;
      height: 2rem;
      transform: none;
      transform: translate(-250%, -50%);
      top: 50%;

      padding-top:0;
      flex-direction: row;
      color: $color-secondary;
      background-color: rgba($color-primary,0);
    }
    a {
      text-decoration: none;
      color: inherit;
      font-size: .75rem;
    }
    .current {
      border-bottom: 1px solid $color-secondary;
    }
    li {
      padding: .5rem .5rem;
      text-transform: uppercase;
    }
    li:hover {
      color: $color-primary;
      background-color: $color-secondary;
    }
  }
  
}