.recent-work {
  clip-path: polygon(0 7rem, 100% 0%, 100% 90%, 0 100%);
  
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  padding-bottom: 13rem;
  padding-top: 10rem;
  background: linear-gradient(135deg, rgba($color-important,.7) 0%, rgba($color-important,.3) 150%);
 
  h1 {
    margin-bottom: 0;
    grid-column: 1/-1;

    color: $color-secondary;
    text-align: center;
  }
  
  picture {
    width: 60%;
    margin: auto;
    position: relative;
    border: 3px solid $color-info;
    box-shadow: 5px 5px 5px 0px rgba($color-primary,0.75);
    transition: all .2s ease-in-out;

    img{
      display: block;
      --image-width: 100%;
      width: var(--image-width);
      object-fit: cover;
      margin: 0;
    }
    &:hover {
      transform: scale(1.1);
    }
    
    div {
      position: absolute;
      top: 0;
      left: 0;
      
      color: $color-info;

      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: rgba($color-secondary, .4);
      padding: 5%;
      z-index: 10;
      text-align: center;
      h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        margin: 0;
        margin-bottom: .5rem;
      }
      p {
        line-height: 1.5rem;
        margin: 0;
        margin-bottom: .5rem;
        font-size: 1.2rem;
        text-align: center
      }
      a {
        text-transform: uppercase;
        border: 2px solid $color-info;
        border-radius: 10px;
        display: block;
        padding: .5rem 1.2rem;
        font-size: .9rem;
        text-decoration: none;
        color: inherit;
        font-weight: bold ;
        &:hover {
          background-color: rgba($color-secondary, .8);
        }
      }
    }
  }

}