.recent-work {
  clip-path: polygon(0 5rem, 100% 0%, 100% 93%, 0 100%);
  
  
  padding-bottom: 13rem;
  padding-top: 10rem;
  background: linear-gradient(135deg, rgba($color-important,.7) 0%, rgba($color-important,.3) 150%);
  
  h1.title {
    margin-bottom: 5rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    gap: 4rem;
  }
  .title {
    margin-bottom: 0;
    grid-column: 1/-1;
    text-align: center;
    font-size: var(--title-font-size);
    color: $color-secondary;
  }
  
}