.responsibilities {
  color: $color-info;
  background-color: rgba($color-secondary, .7);
  border-radius: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
  .title {
    font-size: var(--title-font-size);
  }
  h1.title {
    font-size: var(--title-font-size);
  }
  p {
    text-align: center;
    color: $color-info;
  }
  ul {
    padding: 0;
    
    li {
      list-style-type: none;
      text-align: left;
      font-size: calc(var(--paragraph-font-size) + .0rem);
      line-height: 1.8;
      margin-bottom: 1.3rem;
      text-align: center;
      @include m-screen-sm {
        font-size: calc(var(--paragraph-font-size) + .4rem);
      }
      @include m-screen-md {
        font-size: calc(var(--paragraph-font-size) - .4rem);
        margin-bottom: 0;
      }
    }
    &.list {
      font-family: Roboto-Bold;      
    }
  }
  ul.list{
    width: 80%;
    margin: auto;
    text-align: center;
    @include m-screen-sm{

      li:before{
        content: '⌨'; margin-left: -20px;margin-right: 10px;
      }
      li:last-child:before{
        content:  ''; margin-left: 1rem;margin-right: 10px;
      }
      li {
        text-align: left;
      }
    }
    @include m-screen-md {
      li {
        font-size: calc(var(--paragraph-font-size) - 8px);
      }
    }
    @include m-screen-lg { 
      
    }
  }
}