section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 0 12% 12% 12%;
}                   
.featuredProducts, .featuredCategories {
  &__title{
    margin-bottom: 2rem;
  }
}
