.stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    color: $color-info;
    gap: .0rem;
    background-color: rgba($color-secondary, .7);
    @include m-screen-xs {
        gap: .0rem;
    }
    & > * {
        text-align: center;
    }
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stack__fe, .stack__be {
        justify-content: space-between;
    }
    img {
        display: inline-block;
        width: 50%;
        margin-bottom: 3rem;
        text-align: center;
    }
    .title {
        grid-column: 1 / 4;
        font-size: var(--title-font-size);
    }
    h2 {
        margin-bottom: 1rem;
        @include m-screen-sm {
            margin-bottom: 3rem;
        }
        font-size: var(--sub-title-font-size);
    }
}