
.navbar(role="navigation")
  .navbar__toggle
    input(type="checkbox")
    span.navbar__toggle__slice
    span.navbar__toggle__slice
    span.navbar__toggle__slice
    ul.navbar__nav
      li 
        a(href="#about") about
      li 
        a(href="#stack") stack
      li 
        a(href="#recent-work") portfolio
      li 
        a(href="#services") services
      li 
        a(href="#contact") contact
      li 
        a(href="#about") cv