
.navbar(role="navigation")
  .navbar__toggle
    input(type="checkbox")
    span.navbar__toggle__slice
    span.navbar__toggle__slice
    span.navbar__toggle__slice
    ul.navbar__nav
      li.current about
        a(href="#about") 
      li stack
        a(href="#about") 
      li portfolio
        a(href="#about") 
      li contact
        a(href="#about") 
      li cv
        a(href="#about")