extends ../templates/container
block content
  include ../components/header/_header
  include ../components/_hero
  include ../components/_stack
  include ../components/_latest-work
  include ../components/_contact
  include ../components/_footer

