.card
    picture
      img(src= imgUrl)
    div.card__content
      h2= title
      p= description
      button.js-modal-show learn more
    .card__modal.card__modal--visible
        p lorem ipsum dolor sit amet
        button.js-modal-hide close