p 
  img(src="linkedin.svg" alt="linkedin logo") 
  a(href="https://www.linkedin.com/in/kamusher" target="_blank") www.linkedin.com/in/kamusher
p 
  img(src="github.svg" alt="github logo") 
  a(href="https://www.github.com/natank" target="_blank") www.github.com/natank
p 
  img(src="email.svg") 
  a(href="mailto: natan.kamusher@gmail.com") natan.kamusher@gmail.com
p 
  img(src="telephone.svg") 
  a 972-53-2855672 (GMT+2)