doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=McLaren&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700&display=swap', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(src="https://js.stripe.com/v3/")
    script(src="/main-bundle.js")

    title Portfolio
