section.hero
  .container.container--hero
    h1.hero__hello hello
    h1.hero__name i'm nati
    h3.hero__description i'm a full stack web developer
    h3.hero__description.hero__description--2 i design & develop web apps using:
    h2.hero__description.hero__description--3 HTML, JS, ES6, CSS
    h2.hero__description.hero__description--4 
      span no
      | sql, express
    h2.hero__description.hero__description--5 & node js