section.hero#about
  h1
    span.hero__greeting hi,
    span.hero__name i'm nati
  h3.hero__description full stack web developer
  h3.hero__description.hero__description--2 design & develop <em>web apps</em> using:
  h2.hero__description.hero__description--3 HTML, JS, <em>ES6</em>, CSS,
  h2.hero__description.hero__description--4 
    span <em>no</em>
    | <em>sql</em>, express,
  h2.hero__description.hero__description--5 <em>node js</em> & more...
  a.btn.btn--large#btn-recent-work(href="#recent-work") Recent Work &darr;