section.latest-work
  h1 latest work
  picture
    img(src="eduactivity.jpg" alt="website preview")
    div explanation
  picture
    img(src="eduactivity.jpg" alt="website preview")
    div explanation
  picture
    img(src="eduactivity.jpg" alt="website preview")
    div explanation
  picture
    img(src="eduactivity.jpg" alt="website preview")
    div explanation
  picture
    img(src="eduactivity.jpg" alt="website preview")
    div explanation
  picture
    img(src="eduactivity.jpg" alt="website preview")
    div explanation