section.latest-work
  h1 latest work
  picture
    img(src="eduactivity.jpg")
    div 
      h2 eduactivity
      p Multi user, Authorization based online shop
      p <strong>Core Technologies:</strong> Express, Mongoose, ES6, Bootstrap, SSR, Webpack
      p GIT: http://github.com
      p Website: http://eduactivity.com
  picture
    img(src="eduactivity.jpg")
    div explanation
  picture
    img(src="eduactivity.jpg")
    div explanation
  picture
    img(src="eduactivity.jpg")
    div explanation
