section.recent-work.js-reveal-on-scroll#recent-work
  h1.title recent work
  .recent-work__cards
    - let title, description, repo, website, imgUrl
    - title = 'eduactivity'
    - description = 'Full Stack Online Shop for digital, donloadable products. Featuring Express, Mongo DB and SSR(PUG Templates)'
    - repo ='https://eduactivity.githup.com'
    - website = 'https://eduactivity.heroku.com'
    - imgUrl = 'eduactivity.jpg'
      include _card
      include _card
