section.recent-work
  h1.title recent work
  picture
    img(src="eduactivity.jpg")
    div 
      h2 eduactivity
      p Multi user, Authorization based online shop
      a(href="#") learn more
  picture
    img(src="eduactivity.jpg")
    div 
      h2 eduactivity
      p Multi user, Authorization based online shop
      a(href="#") learn more
  