section.responsibilities.js-reveal-on-scroll#services
  h1.title how can i help ?
  ul.summary 
    li Execute Full Stack Web Development tasks, including:
  ul.list
    li Develop Front End website architecture,
    li Design User Interactions on web pages,
    li Create Servers and Databases for functionality,
    li Design and develop APIs,
    li And more...