section.stack#stack
  h1.title My Stack
  .stack__fe.js-reveal-on-scroll
    h2 Front End
    img(src="html-css-js.png" alt="html css js logo")
    img(src="react.png" alt="react logo")
    img(src="redux.png" alt="redux logo" style="width: 30%")
  .stack__be.js-reveal-on-scroll
    h2 Back End
    img(src="nodejs.svg" alt="nodejs logo")
    img(src="mongodb.svg" alt="mongo db logo")
    img(src="es6.png" alt="es6 logo")
  .stack__dev.js-reveal-on-scroll
    h2 Dev Tools
    img(src="npm.svg" alt="npm logo")
    img(src="webpack.png" alt="webpack logo")
    img(src="git.svg" alt="git logo")

