.stack
  h1 my stack
  .stack__fe
    h1 Front End
    img(src="html-css-js.png" alt="html css js logo")
    img(src="sass.svg" alt="sass logo")
    img(src="bootstrap.svg" alt="bootstrap logo")
  .stack__be
    h1 Back End
    img(src="nodejs.svg" alt="nodejs logo")
    img(src="mongodb.svg" alt="mongo db logo")
    img(src="es6.png" alt="es6 logo")
  .stack__dev
    h1 Back End
    img(src="webpack.png" alt="webpack logo")
    img(src="git.svg" alt="git logo")
    
