.stack
  h1 my stack
  div.stack__fe
    picture
      img(src="html-css-js.png" alt="html css js logo")
    picture
      img(src="sass.svg" alt="sass logo")
    picture
      img(src="bootstrap.svg" alt="bootstrap logo")
