@font-face {
  font-family: roboto-regular;
  src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../../fonts/Roboto-Bold.ttf');
}

body {
  font-family: roboto-regular, sans-serif;
}

html {
  writing-mode: horizontal-lr;
  direction: ltr;
}


h1 {
  text-transform: uppercase;
  text-align: center;
}

// responsive typography
:root {
  --title-font-size: 1.5rem;
  --sub-title-font-size: 1rem;
  --paragraph-font-size: 1rem;
  @include m-screen-sm {
    --title-font-size: 2rem;
    --sub-title-font-size: 1.5rem;
  }
  @include m-screen-md {
    --title-font-size: 3rem;
    --paragraph-font-size: 2.5rem;
  }
  @include m-screen-lg {
    --title-font-size: xxx-large;
    --sub-title-font-size: xx-large;
  }
}