@font-face {
  font-family: roboto-regular;
  src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../../fonts/Roboto-Bold.ttf');
}

body {
  font-family: roboto-regular, sans-serif;
}

html {
  writing-mode: horizontal-lr;
  direction: ltr;
}


h1 {
  font-size: xxx-large;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 1rem;
}


